*{
  box-sizing: border-box;
}
body{
font-family: 'Dosis', sans-serif;
}

h1,h2{
  display: block;
  text-align: center;
  color: white;
  width: 50%;
  margin: auto;
}


td{
  border: 2px solid black;
  border-radius: 10px;
  background-color: #20346F;
  font-size: 0;
  text-align: center;
  cursor: pointer;
  height: 75px;
  width: 75px;

  /*below makes the hidden text in the table unselectable so the user cant cheat--*/
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.table{
  width: 50%;
  margin: auto;
<<<<<<< HEAD
  border-spacing: 5px;
=======
  border-spacing: 20px;
  /*float: left;*/
>>>>>>> with-pictures
}
img.content{
  width: 100%;
  max-height: 100%;
  margin: auto;
  border-radius: 10px;
}

.board{
  width: 100%;
  margin: auto;
}
html{
  background: url("http://images.alphacoders.com/265/265971.jpg") fixed;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
.button{
  cursor: pointer;
  text-align: center;
  height: 25px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #20346F;
  width: 25%;
  margin: auto;
  color: white;
}
#animate{
  position: relative;
  border: 2px solid black;
  background: #20346F;
  color: white;
  width: 150px;
  text-align: center;
  border-radius: 10px;

}
