*{
  box-sizing: border-box;
}
body{
font-family: 'Dosis', sans-serif;
}

h1,h2{
  display: block;
  text-align: center;
  color: #2A3132;
}


td{
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  background-color: #336B87;
  text-align: center;
  font-weight: bold;
  color: #336B87;
  cursor: pointer;
  height: 65px;
  width: 35px;

  /*below makes the hidden text in the table unselectable so the user cant cheat*/
  -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.table{
  width: 60%;
  margin: auto;
  border-spacing: 20px;
}
.content{
  text-align: center;
  font-weight: bold;
  color: #2A3132;
  font-size: 40px;
}
html{
  background-color: grey
}
.button{
  cursor: pointer;
  text-align: center;
  height: 25px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #336B87;
  width: 35%;
  margin: auto;
}
#animate{
  position: relative;
  border: 2px solid black;
  background: #336B87;
  width: 150px;
  text-align: center;
  border-radius: 10px;

}
